{% extends 'personnel/index.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-center alert alert-info">Actu</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Employés</h5>
                        <p class="card-text">{{ total_employees }}</p>
                        <a href="{% url 'liste_personnel' %}" class="btn btn-primary">Voir tous les employés</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Congés en Cours</h5>
                        <p class="card-text">{{ total_leaves }}</p>
                        <a href="{% url 'liste_conge' %}" class="btn btn-primary">Gérer les congés</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Paiements</h5>
                        <p class="card-text">{{ total_payments }}</p>
                        <a href="{% url 'liste_paiement' %}" class="btn btn-primary">Voir les paiements</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Ajoutez d'autres sections ou informations pertinentes ici -->

    </div>
</div>
{% endblock content %}
