{% extends 'personnel/index.html' %}
{% load static %}
{% block content %}
<div class="row">
   
    <div class="col-sm-7 offset-1">
        <h6 class="text-center alert alert-info">Les informations de mes Personnels</h6>
        {% if pers %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mot de passe</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                {% for per in pers %}
                <tr>
                    <th scope="row">{{ per.id }}</th>
                    <td>{{ per.nom }}</td>
                    <td>{{ per.email }}</td>
                    <td>{{ per.password }}</td>
                    <td>{{ per.role }}</td>
                    <td>
                        <a href="{% url 'updatedata' per.id %}" class="btn btn-warning btn-sm">Modifier</a>
                        <form action="{% url 'deletedata' per.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Supprimer">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h6 class="text-center alert alert-warning">Pas d'enregistrement</h6>
        {% endif %}
    </div>
</div>
{% endblock content %}
