<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
        }
        .container {
            margin-top: 100px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #2ecc71;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Succès!!</h1>
        <p>Votre message a été Envoyer </p>
        <a href="{% url 'home' %}">Aller à la page d'accueil</a>
    </div>